---

---

<footer class="text-center mt-auto py-4" style="font-family: 'Inter', sans-serif;">
    <small>est. <span id="copyright"></span> © Rosmelle Cuevas</small>
    </footer>

<script>
    document.querySelector('#copyright').textContent = new Date().getFullYear().toString();
</script>