---

import { Astronav, MenuItems, MenuIcon} from "astro-navbar";
---

<header class="lg:flex p-5 gap-5">
    <Astronav>
        <div class="flex w-full justify-between">
            <a href="/"><img src="/src/assets/favicon.png" alt="RC" class="w-8 h-8"></a>
            <a class="flex-1 text-center">Rosmelle Cuevas</a>
            <div class="block lg:hidden">
                <MenuIcon class="w-4 h-4"></MenuIcon>
            </div>
        </div>
            <MenuItems class="hidden lg:flex">
            <ul class="flex flex-col lg:flex-row lg:gap-5">
                <li><a href="/about">Profile</a></li>
                <li><a href="/designs">Designs</a></li>
                <li><a href="/resume">Resume</a></li>
            </ul>
        </MenuItems>
    </Astronav>
</header>